ListaVentas.dtd

<!ELEMENT ListaVentas (Venta+)>
        <!ELEMENT Venta (Importe, Comprador, Vendedor, Fecha?,CodigoFactura)>
        <!ELEMENT Importe (#PCDATA)>
        <!ELEMENT Comprador (#PCDATA)>
        <!ELEMENT Vendedor (#PCDATA)>
        <!ELEMENT Fecha (#PCDATA)>
        <!ELEMENT CodigoFactura (#PCDATA)>